.weather {
  padding-top: 50px;
  padding-left: 10px;
  text-align: left;
  width: 400px;
  height: 200px;
  font-family: cursive;
  color: white;
  text-shadow: 2px 2px 3px #000;
  font-size: 20px;
}
